.numbers {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-weight: bold;
  display: flex;
  gap: 95px;
  z-index: 1;
  pointer-events: none;
  & span:nth-child(1) {
    color: #5D5FEF;
  }
  & span:nth-child(2) {
    color: var(--pink);
  }
}